<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
  <ion-card>
    <ion-card-header>
      <h1>Login</h1>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="logForm()">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input inputmode="tel" formControlName="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
        <ion-button class="submit-button" type="submit" (tap)="logForm()">Submit</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-button color="none" class="back-button"[routerLink]="['']">Go Back</ion-button>
</ion-content>