<ion-card>
  <ion-card-header>
    <ion-card-title>
      Register
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-label>
      Username
    </ion-label>
      <ion-input placeholder="Username"></ion-input>
    <ion-label>
      Phone Number
    </ion-label>
      <ion-input placeholder="Phone Number"></ion-input>
    <ion-label>
      Password
    </ion-label>
      <ion-input placeholder="Password"></ion-input>
    <ion-label>
      Repeat Password
    </ion-label>
      <ion-input placeholder="Repeat Password"></ion-input>
    <ion-button href="/home">
      Register
    </ion-button>
  </ion-card-content>
</ion-card>